---
import Css from "./Icons/Css.astro"
import Html from "./Icons/Html.astro"
import Javascript from "./Icons/Javascript.astro"
import php from "./Icons/php.astro"
import LinkButton from "./LinkButton.astro"
import Link from "./Icons/Link.astro"
import GitHub from "./Icons/GitHub.astro"
import YouTube from "./Icons/YouTube.astro"
import Android from "./Icons/Android.astro"
import Python from "./Icons/Python.astro"
import Mysql from "./Icons/Mysql.astro"
import Kotlin from "./Icons/Kotlin.astro"
import Bootstrap from "./Icons/Bootstrap.astro"


const TAGS = {
    HTML:{
        name: "Html",
        class:"bg-black text white",
        icon: Html,
    },
    CSS:{
        name: "Css",
        class:"bg-black text white",
        icon: Css,
    },
    JAVASCRIPT:{
        name: "Javascript",
        class:"bg-black text white",
        icon: Javascript,
    },
    PHP :{
        name: "php",
        class:"bg-black text white",
        icon: php,
    },
    KOTLIN :{
        name: "Kotlin",
        class:"bg-black text white",
        icon: Kotlin,
    },
    PYTHON :{
        name: "Python",
        class:"bg-black text white",
        icon: Python,
    },
    ANDROID:{
        name: "Android Studio",
        class:"bg-black text white",
        icon: Android,
    },
    MYSQL :{
        name: "Mysql",
        class:"bg-black text white",
        icon: Mysql,
    }
    ,BOOTSTRAP:{
        name: "Bootstrap",
        class:"bg-black text white",
        icon: Bootstrap,
    }
}
const PROJECTS =[
  {
        title: 'Edu SILBRA',
        description:'Es un software diseñado para gestionar ciclos lectivos especiales en la Institución Educativa San Joaquín. Automatiza procesos administrativos, facilita la inscripción y seguimiento de estudiantes, y mejora la comunicación entre docentes y personal administrativo. Incluye módulos para matrícula, gestión académica y reportes personalizados.',
        image: '/projects/EDUSILBRA.webp',
        // youtube:'https://www.youtube.com/watch?v=XfddltM4ufQ&ab_channel=BrandonJulio',
        tags:[TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.BOOTSTRAP, TAGS.PHP]
    },
  {
        title: 'Biblos - Alquiler de Canchas Sintéticas en Valledupar.',
        description:'Es una plataforma web complementada con un software de gestión que permite la reserva de canchas sintéticas en Valledupar. Diseñada para optimizar la administración y brindar a los usuarios una experiencia ágil y eficiente, ofrece opciones para encontrar y agendar partidos en instalaciones de alta calidad.',
        image: '/projects/biblos.webp',
        github: "https://github.com/BrandonJulio",
        tags:[TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.PHP]
    },
    {
        title: 'Vigis',
        description:'Es una aplicación móvil diseñada para el análisis delictivo en ciudades pequeñas como Valledupar. Utiliza sistemas de información geográfica y mapas de calor para identificar patrones y tendencias delictivas. Su objetivo es permitir a las autoridades modelar y prever desplazamientos de delitos, mejorando la seguridad.',
        image: '/projects/Vigis.png',
        youtube:'https://www.youtube.com/watch?v=XfddltM4ufQ&ab_channel=BrandonJulio',
        tags:[TAGS.KOTLIN, TAGS.PYTHON, TAGS.ANDROID, TAGS.MYSQL]
    },
]
---


<div class="flex flex-col gap-y-16">
    {
      PROJECTS.map(({ image, title, description, tags, youtube, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
        </div>
      </div>
    
      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          {title}
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
    
          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                  
                </LinkButton>
              )}
              {youtube && (
                <LinkButton href={youtube}>
                  <YouTube class="size-4" />
                  YouTube
                </LinkButton>
              )}
            </footer>
        </div>
      </div>
  </article>
      ))
    }
</div>
